# Node.js dependencies
node_modules/

# npm log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Operating System files
.DS_Store

# Logs
logs/
*.log

# IDE/Editor files
.vscode/
.idea/

# npm package lock
package-lock.json

# Build output
dist/
build/

# Optional: Ignore test coverage reports
coverage/

contacts.xlsx

# Ignore WhatsApp web.js specific folders
.wwebjs_cache/
.wwebjs_auth/
